<div>
    <h2>
        <span jhiTranslate="jhipsterOracleLimitsAndSkipclientApp.nucleoEtapaSubtipoProcesso.home.title">Nucleo Etapa Subtipo Processos</span>
        <button class="btn btn-primary float-right jh-create-entity create-nucleo-etapa-subtipo-processo" [routerLink]="['/', { outlets: { popup: ['nucleo-etapa-subtipo-processo-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jhipsterOracleLimitsAndSkipclientApp.nucleoEtapaSubtipoProcesso.home.createLabel">
            Create new Nucleo Etapa Subtipo Processo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="nucleoEtapaSubtipoProcessos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhipsterOracleLimitsAndSkipclientApp.nucleoEtapaSubtipoProcesso.posicao">Posicao</span></th>
            <th><span jhiTranslate="jhipsterOracleLimitsAndSkipclientApp.nucleoEtapaSubtipoProcesso.dataInicio">Data Inicio</span></th>
            <th><span jhiTranslate="jhipsterOracleLimitsAndSkipclientApp.nucleoEtapaSubtipoProcesso.dataFim">Data Fim</span></th>
            <th><span jhiTranslate="jhipsterOracleLimitsAndSkipclientApp.nucleoEtapaSubtipoProcesso.status">Status</span></th>
            <th><span jhiTranslate="jhipsterOracleLimitsAndSkipclientApp.nucleoEtapaSubtipoProcesso.subtipoProcesso">Subtipo Processo</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let nucleoEtapaSubtipoProcesso of nucleoEtapaSubtipoProcessos ;trackBy: trackId">
                <td><a [routerLink]="['../nucleo-etapa-subtipo-processo', nucleoEtapaSubtipoProcesso.id ]">{{nucleoEtapaSubtipoProcesso.id}}</a></td>
                <td>{{nucleoEtapaSubtipoProcesso.posicao}}</td>
                <td>{{nucleoEtapaSubtipoProcesso.dataInicio | date:'mediumDate'}}</td>
                <td>{{nucleoEtapaSubtipoProcesso.dataFim | date:'mediumDate'}}</td>
                <td>{{nucleoEtapaSubtipoProcesso.status}}</td>
                <td>
                    <div *ngIf="nucleoEtapaSubtipoProcesso.subtipoProcesso">
                        <a [routerLink]="['../subtipo-processo', nucleoEtapaSubtipoProcesso.subtipoProcesso?.id ]" >{{nucleoEtapaSubtipoProcesso.subtipoProcesso?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../nucleo-etapa-subtipo-processo', nucleoEtapaSubtipoProcesso.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'nucleo-etapa-subtipo-processo/'+ nucleoEtapaSubtipoProcesso.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'nucleo-etapa-subtipo-processo/'+ nucleoEtapaSubtipoProcesso.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
